body{
  font-family: 'Baloo Bhaina';
  font-size:80%;
  margin:0;
  padding:0;
  height:99%;
  background-image: url('../images/FirstUse-7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
}
#ultimaker-img{
  text-align:center;
  height:20%;
}
  #container{
    border:black,1px;
    margin:0 auto;
    text-align:center;
    width:96%;
    padding:20px;
    top:55px;
    left:50%;
    margin-left:-50%;
    position:relative;
    /*background-color:000;
    color:white;*/
  }
#printerInfo{
  background-color:000;
  color:white;
  width:40%;
  margin:0 auto;
  text-align:center;
}
footer{
  display:block;
  position:absolute;
bottom:0;
width:100%;
height:60px;
background:#fff;
}
#stream{
  width: 40%;
  position:relative;
}
#myProgress {
  text-align:center;
  margin:0 auto;
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    text-align:center;
    height: 30px;
    background-color: white;
    color:black;
}
